<div class="container">
  <div class="timerAll">
    <h1 id="min"></h1>
    <h1 id="sec"></h1>
    <button id="start">開始</button>
    <button id="stop">停止</button>
  </div>
  
  <button id="modalOpen">モーダルオープン</button>
  
  <div id="modal">
    <button id="modalClose">Complete</button>
    <button id="close">閉じる</button>
  </div>
  
  <!--<div id="test1"></div>-->
</div>

<%= javascript_pack_tag 'home/about' %>